.main-container {
    min-height: 30vh;
    /* background-image: url("../../assets/ContactMe/contact_us.jpeg"); */
  
    margin: 100px 0 0 0;
  }
  
  .central-form {
    max-width: 1100px;
    padding: 10px;
    display: flex;
    box-shadow: 0 0px 20px -2px #1f2235;
    border-radius: 12px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    background-color: #1f2235;
  }
  
  h2 {
    color: #fff;
    font-family: "Poppins Bold";
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
  }
  
  .central-form form {
    width: auto;
    box-shadow: 0 0 2px 1px white;
    display: flex;
    color: #111;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
    margin-top: -52px;
    opacity: 0.9;
    background-color: white;
    box-shadow: 0 0px 20px -2px #1f2235;
    border-radius: 12px;
  }
  
  
  #111111
  form button {
    margin-top: 15px;
    padding: 5px;
    outline: none;
    width: 900px;
    color: rgb(230, 227, 227);
    border: 2px solid var(--yellow);
    font-size: 12px;
    border-radius: 19px;
    background-color: #1f2235;
    font-size: 18px;
    width: 160px;
    align-items: center;
    justify-content: center;
  }
  
  button:hover {
    background-color: #1f2235;
    transition: all ease 1s;
    border: 2px solid #1f2235;
  }
  
  button .load {
    width: 100%;
  }
  
  button .load img {
    width: 60px;
    color: green;
  }
  .col i {
    padding: 7px;
    color: #fff;
  }
  .col i:hover {
    transform: scale(1.5);
  }
  
  @media screen and (max-width: 414px) {
    .central-form h2 {
      font-size: 16px;
    }
  }